#converter-container {
    border: 1px solid black;
}

#converter {
    border: 1px solid red;
    background-color: #6943FF;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;display: flex;
    flex-direction: column;
}

#input-el {
    background-color: #6943FF;
    color: white;
    min-height: 80px;
    min-width: 120px;
    font-size: 70px;
    text-align: center;
    field-sizing: content;

}

#convert-btn {
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    padding: 7px 15px;

}

.box {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}